/*去除ios自带搜索图标*/
[type="search"]::-webkit-search-decoration {
  display: none;
}
.theme-default-content:not(.custom) {
  padding: 0 2rem 0 2rem;
}

html.dark{
  img{
    -webkit-filter: contrast(70%);
    filter: contrast(70%);
  }
}

