:root {
  .search-box input {
    // transition: all ease 0.01s;
  }
  //--c-text-accent: #449ee2;
  //--c-brand: #449ee2;
  --content-width: 900px;
}

/*修复行号与代码对应不齐问题*/
div[class*=language-].line-numbers-mode .line-numbers .line-number {
  height: auto;
}

/*去除ios自带搜索图标*/
[type="search"]::-webkit-search-decoration {
  display: none;
}

h1, h2, h3, h4, h5, h6, .navbar .toggle-sidebar-button {
  outline-style: none;
  /*不换行bug*/
  word-break: break-all;
}


.theme-default-content:not(.custom) {
  padding: 0 2rem 0 2rem;
}

html.dark {
  img {
    //-webkit-filter: contrast(73%);
    //filter: contrast(73%);
    -webkit-filter: contrast(86%);
    filter: contrast(86%);
  }
}

.language-java {
  .token.namespace {
    color: #fff;
  }

  .token.tag {
    color: #999;
  }

  .annotation {
    color: #808000;
  }
}

.footer {
  .yqlj {
    margin-top: 10px;
  }

  .yqlj a, .bah {
    font-weight: 400;
    color: var(--c-text-lighter);
    font-size: 14px;
  }
}
